* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}



.field {
	align-items: center;
  position: absolute;
	justify-content: space-around;
	width: 300px;
  left: 48%;
  top: 82%;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 3px solid #fce08e;
	border-radius: 50%;
  left: 50%;
  top: 85%;
  right: 50%;
	position: absolute;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid #fce08e;
  	border-bottom: 3px solid #fce08e;
		transform: rotate(-45deg);
	}
}

@media screen and (max-width: 1024px) {
    .scroll {
       left: 46%;
       top: 83%;
    }
  }

  @media screen and (max-width: 767px) {
  .scroll {
       left: 42%;
       top: 82%;
    }
  }


@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

/* Navigation bar styles */
nav {
  padding: 2.5vw 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease;

}


nav.scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  backdrop-filter: blur(2px);
  transition: all 0.5s ease;
}

nav.dark-text .logo a,
nav.dark-text .nav-links a {
    color: #333; 
    transition: color 0.3s ease; /* Smooth transition for color change */
}



.logo {
  padding-left: 29.448px;
  font-size: 2rem;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-right: 27.448px;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #fce08e;
}

/* Specific Navigation Styles for Gallery Page */
.gallery-nav .nav-links li a {
  color: #333;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
   position: absolute;
}
.gallery-nav .logo a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.gallery-nav .logo {
  font-size: 2rem;
  color: #333;
}

.gallery-nav .nav-links li a:hover {
  color: #746767;
}

#showcase img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -4px;
  /* Remove the gap between inline-block elements */
}


/* CONTACT US CSS*/
#contact {
  background: #ffffff;

  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
   border-top-left-radius: 25px; /* Curve the top left corner */
    border-top-right-radius: 25px; /* Curve the top right corner */
    border-top: 5px solid #caa50139;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 0;
  /* Reset padding */
  margin: auto;
  /* Center the container */
}

/* Pseudo-element for the faded line */
.contact-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  /* Thin line */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  /* Fade effect */
}

.contact-info,
.contact-form {
  flex-basis: 50%;
  /* Take up half the space */
  padding: 0 100px;
  /* Spacing from the central line */
}

.contact-info {
  text-align: left;
  /* Align the text to the right */
  font-size: 1.2rem;
  padding-top: 50px;
}

.contact-form {
  text-align: center;
}
.contact-form .form-group {
  display: flex;
  gap: 10px;
  /* Space between first and last name */
  margin-bottom: 0px;
}

.contact-form .form-group input,
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 20px;
  border: 3px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  /* Space between each field */
}

.contact-form .submit-btn {
  width: 100%;
  padding: 10px 15px;
  background-color: #003366af;

  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-form .submit-btn:hover {
  background-color: #0058afaf;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-container::before {
    display: none;
  }

  .contact-info,
  .contact-form {
    flex-basis: auto;
    padding: 20px;
  }

  .contact-info {
    text-align: center;
  }

  .contact-form {
    text-align: center;
  }
}

footer {
  background: #434343;
  color: #ddd;
  text-align: center;
  padding: 20px 0;
}

#hero .hero-background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 38.448px;
  background-attachment: fixed;
  /* Adjust as needed to align text to the left */

  background-repeat: no-repeat;
}

#hero .hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.22);
  /* Semi-transparent black overlay */
  z-index: 1;
}

.hero-content {
  z-index: 2;
  max-width: 600px;
  position: absolute;
  color: #fff;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .nav-links li {
    display: block;
    margin: 10px 0;
  }
}

/*-------------  ABOUT SECTION CSS -------------*/

#about {
  background-color: #ffffff;
  position: relative;
  z-index: 30;
  padding: 60px 22px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -25px; /* Adjust as needed to overlap with the Hero section */
  border-top: 5px solid #caa50162;
  
}

.about-intro {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 140px;
}

.about-intro h2 {
  font-size: 2.8rem;
  /* Larger font size for the heading */
  margin-bottom: 20px;
  /* Space between heading and paragraph */
}

.about-intro p {
  font-size: 1.3rem;
  /* Larger font size for the paragraph */
  max-width: 700px;
  /* Set a max-width for better readability */
  margin: 0 auto;
  /* Center the paragraph */
}

.about-item {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Ensures content is centered */
  margin-bottom: 30px;
  gap: 80px;
  /* Uniform gap between text and image */
}

.about-item img {
  width: 55%;
  /* Slightly larger than before */
  object-fit: cover;
  /* Ensures images maintain aspect ratio */
  border-radius: 10px;
}

.about-text {
  width: 40%;
  /* Adjusted to accommodate larger image */

  opacity: 0.7;
  /* Initial opacity */
  transition: opacity 0.8s ease-out;
}


.about-item-reverse {
  flex-direction: row-reverse;
  /* Inverts the order */
}

.about-item .about-text h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.about-item .about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-text[data-aos="fade-up"] {
  opacity: 1;
  /* Full opacity when animation triggers */
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .about-item,
  .about-item-reverse {
    flex-direction: column;
  }

  .about-item img,
  .about-text {
    width: 100%;
    margin-bottom: 15px;
  }

  .container {
    padding: 0 20px;
  }

  .gallery-container {
    column-count: 2;
  }

  .about-item-reverse img {
    order: -1;
  }
  .about-item .about-text h3 {
    font-size: 1.8rem;
  }

  .about-item .about-text p {
    font-size: 1.1rem;
  }
}

/*-------------  GALLERY PAGE CSS -------------*/
img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em 0.5em;
  justify-self: start;
}

.gallery-container {
  column-count: 4;
  column-gap: 10px;
}

#gallery {
  background-color: #ffffff;
  color: #303030;
}

/* Hero Section for Gallery Page */

#hero-gallery .hero-background {
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#hero-gallery .hero-content h1 {
  color: #878787;
  font-size: 2.5rem;
}

.gallery-container figure {
    cursor: pointer;
}

.gallery-container figure img {
    transition: transform 0.3s ease;
}

.gallery-container figure:hover img {
    transform: scale(1.05);
}


/* Hero and Gallery Section with White Background */
#hero-gallery,
#gallery {
  background-color: #ffffff;
  color: #333;
}

/* Hero Section Title Animation */
.hero-content h1 {
  position: relative;
  display: inline-block;
}

.animated-underline {
  display: inline-block;
  position: relative;
  color: #333;
  white-space: nowrap;
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #333;
  transition: all 0.1s ease-in-out;
}

/* control the start of the animation */
.animate::after {
  animation: underlineAnimation 1s ease-out forwards;
}

/* Keyframe Animation */
@keyframes underlineAnimation {
  from {
    width: 0;
    left: 50%;
  }

  to {
    width: 100%;
    left: 0;
  }
}

#page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  /* Make sure this is set to 1 */
  transition: opacity 0.5s ease-out;
}

/* OPTIMIZATIONS FOR MOBILE DEVICES */

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about-item,
  .about-item-reverse {
    flex-direction: column;
  }

  .about-item img,
  .about-item .about-text {
    width: 100%;
  }

  .nav-links li {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .hero-content h1,
  .hero-content p {
    font-size: smaller;
    /* Adjust font size */
  }

  .contact-form .form-group {
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 2rem;
    /* Larger size for mobile landing page's hero text */
  }
}

/*hero background image optimized for mobile*/
@media screen and (max-width: 768px) {
  #hero .hero-background {
    background-size: 300%;
    background-position: 33.3% 0%;
    height: 100vh;
    padding-left: 15px;
    padding-top: 0px;
      background-attachment: fixed;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
    /* Smaller size for mobile */
  }

  .nav-links li a {
    font-size: 1rem;
    /* Smaller size for mobile nav links */
  }
}

@media screen and (max-width: 768px) {
  .nav-links li {
    padding: 10px 5px;
    /* Adjust padding for individual nav items */
  }
  .logo {
    padding-left: 12px;
    padding-right: 15px;
    /* Smaller padding for mobile */
  }
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  #hero .hero-content {
    padding-left: 0px;
    /* Left padding to match the logo */
    padding-right: 40px;
    /* Right padding for symmetry */
  }

  .about-intro h2 {
    font-size: 2.5rem; /* Smaller font size for mobile */
  }

  .about-intro p {
    font-size: 1.3rem; /* Smaller font size for mobile */
  }
}

@media screen and (max-width: 768px) {
  #hero .hero-background {
    max-height: 90vh;
    /* This will cut off any part of the background that exceeds the max-height */
  }
}

@media screen and (max-width: 768px) {
  .about-text {
    margin-bottom: -40px; /* Decrease the bottom margin to bring text closer to the image below */
    /* Or use padding-bottom if that suits your layout better */
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .about-intro {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  #about {
    background-color: #ffffff;
    position: relative;
    z-index: 300;
    padding: 50px 9px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -25px; /
  }



    .about-item.about-item-reverse {
    flex-direction: column;
  }

  .about-item.about-item-reverse .about-text {
    order: -1;
    /* place the text above the image */
  }



  /* CONTACT US SECTION */
  #contact {
  background: linear-gradient(to bottom, #ffffff, #e4e4e4);
  /* Gradient from white to light grey */
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

}


/* GALLERY PAGE OPTIMIZED FOR MOBILE */

@media screen and (max-width: 768px) {
/* Specific Navigation Styles for Gallery Page */
.gallery-nav .nav-links li a {
  color: #333;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.gallery-nav .logo a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
   padding: 10px 5px;
}

.gallery-nav .logo {
  font-size: 1.5rem;
  color: #333;
}

#hero-gallery .hero-background {
  background-size: cover;
  background-position: center;
  height: 22vh;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*The pictures*/

.gallery-container {
  column-count: 1;
  column-gap: 5px;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 5px;
  break-inside: avoid;
}

}

/* LIGHTBOX MODAL */
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 50px; /* Reduced padding for more space */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    position: relative;
    margin: auto;
    max-width: 95%; /* Maximum width of the content */
    max-height: 80vh; /* Maximum height */
}

.lightbox-content img {
    width: auto; /* Auto width for scaling */
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain; /* Contain the image within the element */
    object-position: center; /* Center the image */
    margin: auto; /* Center the image horizontally */
    display: block;
}

.close {
    position: absolute;
    top: 15px; 
    right: 15px; 
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-size: 80px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
   
}

.prev:hover, .next:hover {
    background-color: rgba(143, 143, 143, 0.177);
}

/* PERKS section */

/* Perks Section Styles */
#perks {
    background-color: #ffffff27;
    padding: 50px 0px;
    border-top-left-radius: 25px; /* Curve the top left corner */
    border-top-right-radius: 25px; /* Curve the top right corner */
     border-top: 5px solid #caa50139;
}

.perks-intro {
    text-align: center;
    margin-bottom: 50px;
}

.perks-intro h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.perks-intro p {
    font-size: 1.2rem;
    color: #666;
}

.perk-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.units-available {
    text-align: center;
    padding: 10px;

    background-color: #00b6067d; /* Green background for visibility */
    color: white;
    border-radius: 5px;
    margin: 20px auto; /* Centering the badge */
    margin-top: -20px;
    width: fit-content;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2); /* Optional: Adds depth with a subtle shadow */
    font-weight: bold;
}

@media (max-width: 768px) {
    .units-available {
        font-size: smaller; /* Adjust font size for mobile devices */
    }
}

.perk-item {
    flex-basis: 100%; /* Full width on mobile */
    text-align: center;
    margin-bottom: 30px;


    background-color: #e7e7e767; /* White background for each box */
    border-radius: 20px; /* Rounded edges */

    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    padding: 25px; /* Padding inside each box */
    margin: 15px; /* Space between boxes */ 
    box-sizing: border-box; /* Include padding and border in the width and height */
} 

.perk-item i.perk-icon {
    font-size: 3rem; /* Large icons */
    color: #007bff; /* Stylish icon color */
    margin-bottom: 15px;
}

.perk-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.perk-item p {
    font-size: 1rem;
    color: #444444;
}

@media (min-width: 768px) {
    .perk-item {
        flex-basis: 45%; 
        max-width: 45%; 

    }
}



/* Mobile Styles */
@media (max-width: 768px) {
    .lightbox-content {
        display: flex;
        align-items: center; /* Aligns children (img) vertically */
        justify-content: center; /* Centers children horizontally */
        height: 80vh; /* Set a fixed height */
        padding: 0 10px; /* Add some padding on the sides */
    }

    .lightbox-content img {
        max-height: 70vh; /* Maximum image height */
        max-width: 100%; /* Maximum image width */
    }

    .prev, .next {
        position: absolute;
        top: 50%; /* Align arrows vertically */
        transform: translateY(-50%); /* Offset by half of its height */
        z-index: 10001;
        font-size: 20px;
    }

    .prev {
        left: 10px; /* Adjust distance from the left */
    }

    .next {
        right: 10px; /* Adjust distance from the right */
    }

    .close {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}


nav.scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(2px); 

  transition: all 0.5s ease;
}
}

html {
    scroll-behavior:auto;
}
